<%- content_for :footer do %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" ></script>
  <script type="text/javascript">
   $(document).ready(function(){
     $('#add_an_answer').click(function(){
       $('#add_an_answer').before($('#answer').html());
     });
   });
  </script>
<%- end %>
<div id="ask">
  <h1 class="blue">answer me</h1>
    <div class="grey_bg">
    <% form_for(@question) do |f| %>
      <%= f.error_messages %>
      <p>
        <%= f.label :question, "Fill in your question here" %><br />
        <%= f.text_area :question, :rows => 2 %>
      </p>
      <div id="answer">
        <p class="answer">
          <%= label_tag 'Option' %><br />
          <%= text_field_tag 'answers[]' %>
        </p>
      </div>
      <p class="answer">
        <%= label_tag 'Option' %><br />
        <%= text_field_tag 'answers[]' %>
      </p>
      <a class="blue" id="add_an_answer">
        Add another option</a> 
      <p>
        <%= f.submit "ASK", :class => "blue dark_grey_bg" %>
      </p>
    <% end %>
    </div>
</div>
