#vote{:class => @cannot_vote ? "cannotvote" : "canvote"}
  %h1.blue
    %span
      == answer&nbsp;@#{h @question.user}
    = link_to user_image(@question.user), "/user/#{@question.user}", :target => "blank"
  .grey_bg
    - form_for(@vote) do |f|
      %p#question
        = h @question.question
      = f.hidden_field "question_id", {:value => @question.id} unless @cannot_vote
      %ul
        - @question.answers.each do |a|
          %li
            .answer
              = f.radio_button "answer_id",a.id unless @cannot_vote
              = h a.answer
            - num_votes = number_of_votes_for_answer(@num_votes,a.id)
            - if @total_votes != 0
              - percent = (num_votes.to_f / @total_votes.to_f * 100).round
            - else percent = 0
            .result
              .percent
                == #{percent}%
              .bar_container
                .bar{ :style => "width:#{percent}%" }
              .votes
                ==  #{num_votes} votes
            .who_voted{:id => a.id}
              = link_to_remote "who&nbsp;voted?", :update => a.id, :url => voters_path(a.id)
      = link_to "tweet this!", post_question_path(@question.sid), :class => "button blue dark_grey_bg" if logged_in?
      - unless @cannot_vote
        %a#choose.button.blue.dark_grey_bg choose
      = link_to "Please Login to Vote", login_url, :class => "button" unless logged_in?
      = "You have already voted" if @user_has_voted
= render :partial => "comments" 
= render :partial => "create_comment" if logged_in?
- content_for :footer do
  %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" }
  :javascript
    $("#choose").click(function(){
      $("#new_vote").submit();
    });
    $(".canvote #new_vote ul li").click(function(){
      $("#new_vote ul li").removeClass("selected");
      $(this).toggleClass("selected");
      $(this).find("input")[0].checked = true;
    });
    $("#comment").click(function(){$("#new_comment form").submit()});
