!!!
%html
  %head
    %title
      TwitChoice.com - Get Answers on Twitter
    = yield :header
    = stylesheet_link_tag "main"
  %body
    #main
      #top
        = link_to "TwitChoice - get answers on twitter", root_url, :class => "logo"
        #main_menu
          - if logged_in?
            %label.login 
              == welcome #{session[:username]}
          - else
            = link_to "Sign In With Twitter", login_url, :class => "signin"
      #center
        #flash
          = flash[:notice]
        = yield
        .clear
      #bottom
        = render :partial => "shared/bottom_menu"
        .clear
    = render :partial => "shared/feedback"
    = render :partial => "shared/google_analytics"
    = yield :footer
