!!!
%html
  %head
    %title
      TwitChoice.com - Get Answers on Twitter
    = yield :header
    = stylesheet_link_tag "main"
  %body
    #main
      #top
        = link_to image_tag("/images/twitchoice_logo.png", :alt => "TwitChoice - Get answers on twitter"), root_url
        #main_menu
          - if logged_in?
            %label.login 
              == welcome #{session[:username]}
          - else
            = link_to image_tag("Sign-in-with-Twitter-lighter.png"), login_url
      #center
        #flash
          = flash[:notice]
        = yield
        .clear
      #bottom
        = render :partial => "shared/bottom_menu"
        .clear
    = render :partial => "shared/feedback"
    = render :partial => "shared/google_analytics"
    = yield :footer
