!!!
%html
  %head
    %title
      TwitChoice.com - Get Answers on Twitter
    = yield :header
    = stylesheet_link_tag "main"
    %meta{:name => "viewport", :content => "user-scalable=no, width=device-width,initial-scale=1.0, maximum-scale=1.0" }
    
  %body
    #main
      #top
        = link_to "TwitChoice - get answers on twitter", root_url, :class => "logo"
        #main_menu
          - if logged_in?
            %label.login 
              == welcome #{session[:username]}
          - else
            = link_to "Sign In With Twitter", login_url, :class => "signin"
      #center
        - if flash[:notice]
          #flash
            = flash[:notice]
        = yield
        .clear
      #bottom
        = render :partial => "shared/bottom_menu"
        .clear
    = render :partial => "shared/google_analytics"
    = yield :footer
